{% extends 'base.html.twig' %}
{% block body %}

    {{ include('Includes/navbar.html.twig') }}
    <div class="container">
        {{ dump(category) }}
        <div class="row">
            {% if category is not empty %}
                {% for category in category %}

                    <div class="col-sm">
                        <h3>{{ category.title }}</h3>
                        <p>{{ category.content }}</p>
                        <small>{{ category.author }}</small>
                        <small>{{ category.category }}</small>
                    </div>

                {% endfor %}
            {% endif %}
        </div>



    </div>
{% endblock %}